body {
}

.instructions {

}

.santaform {

}

.shadow {
	text-shadow: 2px 2px black;
}

.secretUrl {
	border: 1px black solid;
}
#santaface {
	background-size: cover;
	background-image: url("../img/santabg.jpg");
	position: fixed;
	left: 0;
	top: 0;
 	width: 100vw;
 	height: 100vh;
}

.pagetitle {
	text-align: center;
}
.speech-bubble {
    position: relative;
    background: #ffffff;
    border-radius: .4em;
    margin-right: 60vw;
    margin-left: 10vw;
    margin-top: 20vw;
    padding: 1px 10px 1px 10px;
    text-align: center;
  	filter: drop-shadow(0 0 30px #333);
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-left-color: #ffffff;
	border-right: 0;
	border-bottom: 0;
	margin-top: -12.5px;
	margin-right: -25px;
}

.toplevel {
	position: relative;
}

.publicresultsheader {
	background-image: url("../img/topline.png");
	width: 700px;
	height: 130px;
	z-index: 1;
	margin: 0;
	padding: 0;
}

.linedpaper {
	background-image: url("../img/singleline.png");
	width: 700px;
	height: 38px;
	margin: 0;
	padding: 0;
}

.oneLine {
	margin-left: 110px;
}

.publicresults {
	position: fixed;
	top: 10vh;
	left: 10vw;
	width: 700px;
	z-index: 1;
	overflow: auto;
}

table {
	border-collapse: collapse;
	border: none;	
	max-height: 40vh;
}

#paperclose {
	margin-right: 10px;
}

.oneLine, #paperclose {
	color: #18187d;
	font-size: xx-large;
}