body {
	background-color: black;
	color: #66FF66;
	font-family: 'VT323', monospace;
}

/*############# Instructions Page #############*/
#splashHeader {
/*the heading of the splash page*/
	text-align: center;
}

#setupIntro {
/*the line before the list of instructions*/

}

#instructionsList {
/*the ordered list of instructions*/

}

#startButton {
/*the button to get started*/	
	margin: 0 auto;
}
/*#############################################*/

