body {
	background-color: black;
	color: #66FF66;
	font-family: 'VT323', monospace;
}

/*############# Instructions Page #############*/
#splashHeader {
/*the heading of the splash page*/
	text-align: center;
}

#setupIntro {
/*the line before the list of instructions*/

}

#instructionsList {
/*the ordered list of instructions*/

}

#startButton {
/*the button to get started*/	
}

/*############# Entry Form Page################*/

#entryformheader {

}

#addSantaButton {

}

#finishButton {

}

input[type="text"],
.input-group-text,
.btn,
.form-control,
.form-control:focus {
    background: transparent;
    border: 1px solid #66FF66;
    color: #66FF66;

}

.form-control:focus {
    outline: 0;
  	-webkit-box-shadow: none;
  	box-shadow: none;
}

.form-control::-webkit-input-placeholder { color: #66FF66; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #66FF66; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #66FF66; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #66FF66; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #66FF66; }  /* Microsoft Edge */

/*############# Results Page ################*/

.table {
  color: #66FF66;
}

td, .table thead th {
  border: 1px solid #66FF66;
}

#resultsButtons {

}
/*############# Secret Page #####################*/
/*.speech-bubble {
  position: relative;
  background: #000000;
  border-radius: .4em;
  border: 1px solid #66FF66;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 13px solid green;
  border-top-color: #66FF66;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}*/

.speech-bubble {
  width: 300px;
  margin: 50px auto;
  border: 4px solid #66FF66;
  padding: 20px;
  text-align: center;
  color: #66FF66;
  position: relative;
  border-radius: 10px;
}

.sb-pointer:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #66FF66;
  border-top: 10px solid #66FF66;
  border-bottom: 10px solid transparent;
  right: 20px;
  bottom: -23px;
}

.sb-pointer:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #000000;
  border-top: 10px solid #000000;
  border-bottom: 10px solid transparent;
  right: 24px;
  bottom: -13px;
}

#secretText {

}

#santaface {
  width: 50vw;
  margin-left: 40vw;
}

#successpop {
  position: fixed;
  bottom: 0;
  width: 25vw;
  text-align: center;
}