/*==========================================================================mobile css===========================================*/
body {
	background-color: black;
	color: #66FF66;
	font-family: 'VT323', monospace;
}

html {
  font-size: 1rem;
}

/*############# Instructions Page #############*/
#splashHeader {
/*the heading of the splash page*/
	text-align: center;
  font-size: 2.3rem;
}

.hollypic {
  width: 33vw;
}

#setupIntro {
/*the line before the list of instructions*/
  font-size: 1.5rem;
}

#instructionsList {
/*the ordered list of instructions*/
  font-size: 1.5rem;
}
.santaface {
  width:45vw;
  margin-bottom:1rem;
}
#startButton {
/*the button to get started*/
  font-size: 1.5rem;	
}

/*############# Entry Form Page################*/

#entryformheader {
  text-align: center;
  font-size: 2.3rem;
}

#addSantaButton {
  font-size: 1.5rem;
}

#finishButton {
  font-size: 2rem;
  margin-top: 1rem;
}

input[type="text"],
.input-group-text,
.btn,
.form-control,
.form-control:focus {
    background: transparent;
    border: 1px solid #66FF66;
    color: #66FF66;
    font-size: 1.5em;

}

.form-control:focus {
    outline: 0;
  	-webkit-box-shadow: none;
  	box-shadow: none;
}

.form-control::-webkit-input-placeholder { color: #66FF66; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #66FF66; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #66FF66; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #66FF66; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #66FF66; }  /* Microsoft Edge */

/*############# Results Page ################*/

#resultsHeader {
  text-align: center;
  font-size: 2.3rem;
}

.table {
  color: #66FF66;
}

/*td, .table thead th {
  border: none;
  border-top: none;
}*/

.table td, .table th{
  border: none;
}

#resultsButtons {
  margin-left: -0.2vw;
}
#resultsButtons button{
  width: 40vw;
  margin-bottom: 1vh
}
/*############# Secret Page #####################*/

.speech-bubble {
  width: 75vw;
  margin: 50px auto;
  border: 4px solid #66FF66;
  padding: 20px;
  text-align: center;
  color: #66FF66;
  position: relative;
  border-radius: 10px;
}

.sb-pointer:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #66FF66;
  border-top: 10px solid #66FF66;
  border-bottom: 10px solid transparent;
  right: 20px;
  bottom: -23px;
}

.sb-pointer:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #000000;
  border-top: 10px solid #000000;
  border-bottom: 10px solid transparent;
  right: 24px;
  bottom: -13px;
}

#secretText {
  font-size:1.5rem;
}

#santaface {
  width: 50vw;
  margin-left: 40vw;
}

#successpop, #dupePop {
  position: fixed;
  bottom: 0;
  margin-left: 5vw;
  width: 90vw;
  text-align: center;
  font-size: 1.5rem;
}

.container {margin:2rem 0;}

/*=======================================================end of mobile css================================================*/

/* 
Extra small devices (portrait phones, less than 544px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
h1 {font-size:1rem;} /*1rem = 16px*/
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  html {font-size:1rem;} /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  html {font-size:1.5rem;}
  #setupIntro,#instructionsList {margin-left: 8vw;}
  .input-group, legend, #addSantaButton, table, #resultsButtons {margin-left: 6vw;}
  #secretText {font-size: 2rem;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:2.5rem;} /*1rem = 16px*/
  /*the one on the secret page*/
  #santaface {width: 20vw;margin-left: 68vw;}
  /*the one on the front page*/
  .santaface {display:none;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .container {margin-left: 10vw;}
  #startButton {width: 16vw;}
  #resultsButtons button{width: 20vw;margin-left: 5vw;margin-bottom: 3vh;}
  .table {margin-left: 11vw; font-size: 2rem;}
  #santaface {width: 15vw;}
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (min-width: 950px) and (max-width:1100px) { 
  h1 {font-size:2.75rem;color:red;} 
}