/*mobile:*/
body, html {
  height: 100%;
}

body {
  /* The image used */
  background-image: url("../img/tree.jpg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

legend {
  margin: 0;
}

#finishButton {
  margin-top: 0.5vh;
}
.entryform {
  background-color: white;
  padding-bottom: 1vh;
  padding-top: 1vh;
  border-radius: 10px;
}

.entryformtitle {
  text-align: center;
}

.bg {
  /* The image used */
  /*background-image: url("../img/christmas.jpg");*/

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.paper {
  background-image: url("../img/oldpapertexture.jpg");
  border-radius: 5px;
  padding: 1.5vh;
}

.instructions, .entryform {
  margin-top: 2vh;
  filter: drop-shadow(0 0 10px #333);
  font-size: 2vw;
  width: 50vw;
}

.instructions {
  font-family: 'Quintessential', cursive;
  border-radius: 10px;
}

.subheading {
  text-align: center;
}
.table {
  margin-top: 5vh;
}


#secretMessage {
  text-align: center;
  font-family: 'Coiny', cursive;
  font-size: 5vh;
}

.secretPage {
  /* The image used */
  background-image: url("../img/results.jpg");

  /* Full height */
  position: 0;
  height: 100vh;
  margin-top: -10vh;
  padding-top: 5vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.speech-bubble {
  margin-top: 5vh;
  padding-bottom: 10px;
  position: relative;
  background: #ffffff;
  border-radius: .4em;
  filter: drop-shadow(0 0 30px #333);
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  margin-left: -84px;
  margin-bottom: -20px;
}


/*end of mobile*/